@media (max-width: 800px) {
  /* -- Match List Styles -- */
  .match-list {
    width: 95%;
  }

  /* Card container styling */
  .match-list-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /* Card styling */
  .match-list-card {  
    margin: 0.5rem 0;
  }

  .match-list-card-equipe-domicile {
    width: 27.5%;
  }

  .match-list-card-equipe-visiteur {
    width: 27.5%;
  }

  .match-list-card-team-logo {
    width: 12.5%;
  }
}

@media (max-width: 700px) {
  /* -- Match Detail Styles -- */
  .match-details-list {
    width: 100%;
  }

  .match-details-team-home, .match-details-team-away, .match-details-score, .match-details-date-container, .match-details-score-container, .match-details-competition-container, .match-details-location-container, .match-details-attendance-container {
    padding: 0.2rem 0;
  }

  .match-details-team-home-great, .match-details-team-away-great {
    display: none;
  }

  .match-details-team-home-small, .match-details-team-away-small {
    display: inline;
  }

  .match-details-team-home, .match-details-team-away {
    width: 20%;
  }
  
  .match-details-team-logo {
    padding-top: 0.5rem;
  }
  
  .match-details-score {
    width: 60%;
    font-size: 3.5rem;
  }

  .match-details-competition-container {
    font-size: 1.2rem;
    letter-spacing: 0rem;
  }

  .match-details-attendance-container {
    font-size: 1.7rem;
  }
}

@media (max-width: 600px) {
  /* -- Header --  */
  header nav h1 a {
    font-size: 1.8rem;
  }

  header nav div {
    flex-direction: column;
    position: absolute;
    top: 90px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 90px);
    background-color: #758bfd;
    transition: left 0.3s ease;
    padding-top: 20px;
  }

  header nav div.show {
    left: 0;
  }

  .burger-menu-btn {
    display: block;
    color: #f1f2f6;
  }

  header nav div a {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    padding: 1.5rem;
    display: block;
  }
}

@media (max-width: 480px) {
  /* -- Match Detail Styles -- */
  .match-details-venue-container {
    font-size: 0.8rem;
  }

  .match-details-date-container {
    font-size: 2rem;
  }

  .match-details-team-home, .match-details-team-away {
    font-size: 1.2rem;
    padding: 0 1rem;
  }
  
  .match-details-team-logo {
    width: 60px;
  }

  .match-details-score {
    font-size: 2.7rem;
    padding: 0 0.8rem;
  }

  .match-details-competition-container {
    font-size: 1rem;
  }

  .match-details-location-container {
    font-size: 0.8rem;
  }

  .match-details-attendance-container {
    font-size: 1.3rem;
  }
}

@media (max-width: 380px) {
  .match-details-score {
    font-size: 2rem;
    font-weight: 400;
    padding: 0 0.6rem;
  }
}