/* Global Styles */
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header, footer {
  background-color: #003566;
  color: #e5e5e5;
  text-align: center;
  padding: 1em 0;
}

.nav-header-btn, .nav-footer-btn {
  color: #e5e5e5;
  text-decoration: none;
  padding: 1em;
}

.nav-header-btn {
  font-size: 1.4em;
}

.nav-footer-btn {
  font-size: 1em;
  text-decoration: underline;
}

/* Main content should fill the available space */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Match List Styles */
.match-list {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

/* Card container styling */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Center the cards with even spacing */
  gap: 20px; /* Spacing between cards */
}

/* Card styling */
.card {
  background-color: #f3f3f3;
  width: 60%; /* Take 60% of the container width */
  max-width: 600px; /* Limit max width for large screens */
  justify-content: flex-start;
  padding: 20px;
  border-radius: 15px;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card img {
  vertical-align: middle;
  margin: 0 10px;
}

.card:hover {
  transform: scale(1.02); /* Slight increase on hover */
}

.card p {
  margin: 0px 0;
  font-size: 16px;
}

.match-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5em;
}

@media (max-width: 600px) {
  .card {
    width: 90%; /* Les cartes prennent 90% de la largeur sur les petits écrans */
  }
}
