/* Global Styles */
header, footer {
  background-color: #758bfd;
  color: #f1f2f6;
  padding: 1em;
}

header nav {
  height: calc(90px - 2em);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav h1 a {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #f1f2f6;
  margin: 0;
}

header nav div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

header nav div a {
  display: flex;
  align-items: center;
  line-height: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #f1f2f6;
  padding: 0.7rem;
  border-radius: 10px;
}

header nav div a:hover {
  background-color: #aeb8fe;
  transition: 0.3s;
}

.burger-menu-btn {
  font-size: 30px;
  cursor: pointer;
  display: none;
}
 
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

h2 {
  text-wrap: balance;
}

p {
  margin: 0px 0;
  font-size: 16px;
}

  /* -- Match List Styles -- */
  .match-list {
    width: 90%;
  }

  /* Card container styling */
  .match-list-card-container {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  /* Card styling */
  .match-list-card {  
    flex: 40%;
    background: #EEEEEE;
    border-radius: 15px;
    margin: 0.5rem;
    user-select: none;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /* Rendre toute la carte cliquable */
  .match-list-card-link {
    text-decoration: none; /* Retire le soulignement du lien */
    color: inherit; /* Hérite la couleur du texte du parent */
    padding: 1rem 0;
  }

  /* Augmentation légère au survol */
  .match-list-card:hover {
    transform: scale(1.03);
  }

  .match-list-card-match-info, .match-list-card-match-date-compet {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.2em;
  }

  .match-list-card-equipe-domicile {
    text-align: end;
    width: 30%;
  }

  .match-list-card-equipe-visiteur {
    text-align: start;
    width: 30%;
  }

  .match-list-card-score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20%;
    max-width: 50px;
  }

  .match-list-card-team-logo {
    vertical-align: middle;
    margin: 0 0.5em;
    width: 10%;
    max-width: 50px;
  }

/* -- Match Detail Styles -- */
.match-details {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-details-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
}

.match-details-list li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: 'Bahnschrift Semicondensed';
}

.match-details-list li:nth-child(3) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.match-details-team-home, .match-details-team-away, .match-details-score, .match-details-date-container, .match-details-score-container, .match-details-competition-container, .match-details-location-container, .match-details-attendance-container {
  background: #EEEEEE;
  padding: 0.5rem 0;
}

.match-details-venue-container, .match-details-attendance-container {
  background: #222;
  color: #FFF;
  padding: 0.2rem 0;
}

.match-details-venue-container {
  font-size: 1rem;
  text-align: right;
  letter-spacing: 0.05rem;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.match-details-team-home-great, .match-details-team-away-great {
  display: inline;
}

.match-details-team-home-small, .match-details-team-away-small {
  display: none;
}

.match-details-team-home, .match-details-team-away {
  width: 30%;
  text-align: center;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.match-details-team-logo {
  width: 80px;
}

.match-details-score {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: 500;
  padding: 0 1rem;
  font-family: 'Bahnschrift Semicondensed';
}

.match-details-date-container {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 500;
}

.match-details-image-container img {
  width: 100%;
}

.match-details-competition-container {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.match-details-location-container {
  text-transform: uppercase;
  font-size: 1rem;
  color: #999;
}

.match-details-attendance-container {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.05rem;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.error-code {
  font-size: 10rem;
}

.error-message {
  font-size: 5rem;
}